## Pipeline: Split data into train, validation, and test set

Using the Titanic dataset from [this](https://www.kaggle.com/c/titanic/overview) Kaggle competition.

In this section, we will split the data into train, validation, and test set in preparation for fitting a basic model in the next section.

### Read in Data

In [8]:
import pandas as pd
from sklearn.model_selection import train_test_split
#READ IN CLEANED SET
titanic = pd.read_csv('/Users/AndrewMcLeod_1/Desktop/Ex_Files_Applied_Machine_Learning/Exercise Files/titanicCLEAN.csv')
titanic.head()

   Survived  Pclass  Sex   Age     Fare  Relations  Cabin_ind
0         0       3    0  22.0   7.2500          1          0
1         1       1    1  38.0  71.2833          1          1
2         1       3    1  26.0   7.9250          0          0
3         1       1    1  35.0  53.1000          1          1
4         0       3    0  35.0   8.0500          0          0

### Split into train, validation, and test set

![Split Data](../../img/split_data.png)

In [12]:
#WE SPLIT OUR SET INTO TWO, ONE CONTAINING FEATURES AND ONE CREATING TARGET
features = titanic.drop('Survived', axis=1)
labels = titanic['Survived']
#WE INDICATE A TEST SET SIZE OF 40% ON THE FIRST CALL BECAUSE THE MOTHOD CAN ONLY SPLIT INTO TWO SETS 
Xtrain, Xtest, Ytrain, Ytest = train_test_split(features, labels, test_size=0.4, random_state=42)
#WE CALL AGAIN WITH PRODUCED SETS AND SPLIT IN HALF CREATING A TRAIN SET OF 60%, VALIDATION SET OF 20% AND TEST SET OF 20%
Xtest, Xval, Ytest, Yval = train_test_split(Xtest, Ytest, test_size=0.5, random_state=42)

     Pclass  Sex        Age     Fare  Relations  Cabin_ind
849       1    1  29.699118  89.1042          1          1
331       1    0  45.500000  28.5000          0          1
260       3    0  29.699118   7.7500          0          0
316       2    1  24.000000  26.0000          1          0
292       2    0  36.000000  12.8750          0          1

In [10]:
#LET'S CONFIRM OUR SET WAS SPLIT PROPERLY
tot = len(labels)
print(len(Ytrain)/tot, len(Yval)/tot, len(Ytest)/tot)

0.5993265993265994 0.20089786756453423 0.19977553310886645

### Write out data

In [11]:
#LETS STORE OUR PARTITIONS
Xtrain.to_csv('/Users/AndrewMcLeod_1/Desktop/Ex_Files_Applied_Machine_Learning/Exercise Files/train_features.csv', index=False)
Xval.to_csv('/Users/AndrewMcLeod_1/Desktop/Ex_Files_Applied_Machine_Learning/Exercise Files/val_features.csv', index=False)
Xtest.to_csv('/Users/AndrewMcLeod_1/Desktop/Ex_Files_Applied_Machine_Learning/Exercise Files/test_features.csv', index=False)

Ytrain.to_csv('/Users/AndrewMcLeod_1/Desktop/Ex_Files_Applied_Machine_Learning/Exercise Files/train_labels.csv', index=False)
Yval.to_csv('/Users/AndrewMcLeod_1/Desktop/Ex_Files_Applied_Machine_Learning/Exercise Files/val_labels.csv', index=False)
Ytest.to_csv('/Users/AndrewMcLeod_1/Desktop/Ex_Files_Applied_Machine_Learning/Exercise Files/test_labels.csv', index=False)